{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<form method="post" enctype=multipart/form-data>
    <h2>Paste url concrete cracks:</h2>
    <br>
    <input class="form-control" name = "url" id = "url" type="text" placeholder="Enter URL" aria-label="Enter URL">
    <br>
    <h2> or upload the file </h2>
    <div class="custom-file">
    <input class = "btn btn-light" type="file" id="file" name="file">
    </div>
<br>
<br>
<input class = "btn btn-success" type='submit' value='Submit'>
</form>
<br>
<br>
<a href="https://www.google.com/search?q=concrete+crack+images&sxsrf=ALeKk01yyQFqps4vcbwaI8I3z6tIubiaNw:1590330445607&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjUq6TK2szpAhVCzqYKHTMQAEkQ_AUoAXoECAsQAw&biw=2064&bih=1054"
    , target="_blank">search for cracked concrete images</a>
<br>
<a href="https://www.google.com/search?q=plain+concrete&tbm=isch&ved=2ahUKEwiYq4Tf2szpAhVYt6QKHXWmAScQ2-cCegQIABAA&oq=plain+concrete&gs_lcp=CgNpbWcQAzIECCMQJzIECAAQEzIECAAQEzIECAAQEzIECAAQEzIECAAQEzIECAAQEzIECAAQEzIECAAQEzIECAAQE1CnOVipOmDMO2gAcAB4AIABXIgBtgGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWc&sclient=img&ei=eYTKXtiKB9jukgX1zIa4Ag&bih=1054&biw=2064"
    , target="_blank">search for plain concrete images</a>
<br>
<hr>
<p>If you don't know how to upload a photo through link, follow the below video tutorial!</p>
<br>
<iframe src="https://youtube.com/embed/NafEYsmeBGU" width="853" height="480" frameborder="0" allowfullscreen></iframe>
{% endblock %}
